<footer class="my-footer" th:fragment="footer">
    <div class="my-footer-items">
        <span class="my-footer-texts">경기 분석에 사용된 영상은 유튜브 API를 통해 자동 수집 되었으며 저작권에 위배되는 영상이 있을 시 삭제 조치 하겠습니다.<br />CopyRight 2024. One-Team All Rights Reserved.</span>
        <div class="my-top-btn" onclick="myScrollToTop()">
            <div class="my-btn-circle">
                <div class="my-top-icon-frame">
                    <img src="/assets/top-icon.svg" alt="Top Icon" class="my-top-icon">
                </div>
            </div>
        </div>
    </div>
</footer>