<header class="my-header" th:fragment="header-2">
    <div class="my-header-items">
        <div class="my-logo">
            <div class="my-icon-box">
                <img src="/assets/header-icon.svg" alt="Header Icon" class="my-header-icon">
            </div>
            <span class="kick-analysis" onclick="window.location.href='/'">KICKNALYSIS</span>
        </div>
        <div class="my-header-menu">
            <span class="game-schedule-prediction" onclick="window.location.href='/usr/home/gameSchedule'">경기일정 및 예측</span>
            <span class="analysis-community" onclick="window.location.href='/usr/article/list?boardId=1&page=2'">분석 커뮤니티</span>
            <span class="product-exchange" onclick="window.location.href='/usr/gifticons/List'">상품교환</span>
            <span class="customer-center" onclick="window.location.href='/customer-support'">고객센터</span>
        </div>
        <!-- 로그인/로그아웃 버튼 -->
        <div class="my-auth-buttons">
            <!-- 로그아웃 상태 -->
            <span class="my-login-button" th:if="${!rq.isLogined()}" onclick="window.location.href='/usr/member/login'">LOGIN</span>
            <span class="my-join-button" th:if="${!rq.isLogined()}" onclick="window.location.href='/usr/member/join'">JOIN</span>
            <!-- 로그인 상태 -->
            <span class="my-myPage-button" th:if="${rq.isLogined()}" onclick="window.location.href='/usr/member/myPage'">MYPAGE</span>
            <span class="my-logout-button" th:if="${rq.isLogined()}" onclick="if(confirm('로그아웃 하시겠습니까?')) window.location.href='/usr/member/doLogout'">LOGOUT</span>
        </div>
    </div>
</header>