<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/head :: head}">
    <title>DETAIL</title>
<!--    <th:block th:with="toastUi=true"></th:block>-->
</head>

<body>

<script th:inline="javascript">
    function ArticleModify__submit(form) {
        form.title.value = form.title.value.trim();
        if (form.title.value.length == 0) {
            alert('제목을 입력해주세요');
            return;
        }
        const editor = $(form).find('.toast-ui-editor').data('data-toast-editor');
        const markdown = editor.getMarkdown().trim();
        if (markdown.length == 0) {
            alert('내용 써');
            editor.focus();
            return;
        }
        form.body.value = markdown;
        form.submit();
    }
</script>

<header th:replace="~{common/header :: header}"></header>
<hr />

<section class="mt-24 text-xl px-4">
    <div class="mx-auto">
        <form onsubmit="ArticleModify__submit(this); return false;" action="../article/doModify" method="POST">
            <input type="hidden" name="id" th:value="${article.id}" />
            <input type="hidden" name="body">
            <table class="table" border="1" cellspacing="0" cellpadding="5" style="width: 100%; border-collapse: collapse;">
                <tbody>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <td style="text-align: center;" th:text="${article.id}"></td>
                </tr>
                <tr>
                    <th style="text-align: center;">Registration Date</th>
                    <td style="text-align: center;" th:text="${#strings.substring(article.regDate, 0, 10)}"></td>
                </tr>
                <tr>
                    <th style="text-align: center;">Modified date</th>
                    <td style="text-align: center;" th:text="${article.updateDate}"></td>
                </tr>
                <tr>
                    <th style="text-align: center;">Writer</th>
                    <td style="text-align: center;" th:text="${article.extra__writer}"></td>
                </tr>
                <tr>
                    <th style="text-align: center;">Title</th>
                    <td style="text-align: center;">
                        <input name="title" th:value="${article.title}" type="text" autocomplete="off" placeholder="새 제목을 입력해"
                               class="input input-bordered input-primary w-full max-w-xs input-sm" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">Body</th>
                    <td style="text-align: center;">
                        <div class="toast-ui-editor">
                            <script type="text/x-template" th:text="${article.body}"></script>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td style="text-align: center;">
                        <button class="btn btn-primary">수정</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <div class="btns">
            <button class="btn" type="button" onclick="history.back()">뒤로가기</button>
            <div th:if="${article.userCanModify}">
                <a class="btn" th:href="@{/usr/article/modify(id=${article.id})}">수정</a>
            </div>
            <div th:if="${article.userCanDelete}">
                <a class="btn" th:href="@{/usr/article/doDelete(id=${article.id})}">삭제</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>
