@charset "UTF-8";

/* 노멀라이즈 시작 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 노멀라이즈 끝 */
/*@font-face {*/
/*	font-family: 'LotteMartDream';*/
/*	font-style: normal;*/
/*	font-weight: 400;*/
/*	src:*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')*/
/*		format('woff2'),*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')*/
/*		format('woff');*/
/*}*/

/*@font-face {*/
/*	font-family: 'LotteMartDream';*/
/*	font-style: normal;*/
/*	font-weight: 700;*/
/*	src:*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')*/
/*		format('woff2'),*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')*/
/*		format('woff');*/
/*}*/

/*@font-face {*/
/*	font-family: 'LotteMartDream';*/
/*	font-style: normal;*/
/*	font-weight: 300;*/
/*	src:*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')*/
/*		format('woff2'),*/
/*		url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')*/
/*		format('woff');*/
/*}*/

/*.lottemartdream * {*/
/*	font-family: 'LotteMartDream', sans-serif;*/
/*}*/

/*html>body {*/
/*	font-family: 'LotteMartDream', sans-serif;*/
/*}*/

header>div>ul>li {
	margin-right: 30px;
}

.toastui-editor-contents {
	text-align: center;
}

/*테마*/
/* 테마 */
.btn-theme-toggle>span:first-child {
	display: none;
}

html[data-theme="dark"] .btn-theme-toggle>span:first-child {
	display: inline;
}

html[data-theme="dark"] * {
	color: white;
}

/* 에디터 미리보기 부분 적용. */
html[data-theme="dark"] .toastui-editor-md-preview {
	color: white;
}

/* important 강제성 부여.(우선순위 높게) */
html[data-theme="dark"] .toastui-editor-contents * {
	color: white !important;
}

html[data-theme="dark"] .btn-theme-toggle>span:last-child {
	display: none;
}
