@charset "UTF-8";

.main-title {
    width: 280px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.main-title-content {
    color: #000000;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameSchedule-list-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 800px; /* 원하는 고정 너비 */
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}

.date-header {
    border-bottom: 2px solid #000; /* 날짜 헤더에 밑줄 추가 */
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
    padding-bottom: 5px; /* 패딩 추가 */
    width:800px;
}

/* 경기 항목에 margin-bottom 추가 */
#gameSchedule-list li {
    margin-bottom: 20px; /* 원하는 아래쪽 여백 */
    display: inline-block; /* 가로로 배치 */
    width: calc(50% - 10px); /* 두 개의 경기를 가로로 배치하기 위한 너비 */
    vertical-align: top; /* 상단 정렬 */
}

/* 경기 목록에 대한 스타일 */
.match-container {
    display: flex; /* flexbox로 경기 리스트 배치 */
    flex-wrap: wrap; /* 줄 바꿈 */
    justify-content: space-between; /* 간격을 균등하게 */
}
/* 리그 헤더 */
.league-header {
    border-bottom: 1px solid #666; /* 리그 헤더에 밑줄 추가 */
    margin-bottom: 8px; /* 아래쪽 여백 추가 */
    padding-bottom: 4px; /* 패딩 추가 */
    width:800px;
}
/* 경기 하나당 최소 너비 설정 */
.match-item{
    min-width: 400px;
}
/* 경기시간 스타일 */
.matchTime {
    display: inline-block;
    font-weight: bold;
    min-width: 40px; /* 최소 너비 */
}
/* 홈팀 명시 스타일 */
.home-label {
    display: inline-block;
    background-color: #007BFF; /* 원하는 배경색 */
    color: #FFFFFF; /* 텍스트 색상 */
    height: 8px; /* 높이 16px */
    width: 12px; /* 너비 20px */
    text-align: center;
    padding: 4px 4px; /* 상하 여백, 좌우 여백 */
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.7rem;
}
/* 스코어 스타일 */
.score {
    font-weight: bold; /* 스코어 굵게 */
}

.low-score {
    color: gray; /* 낮은 점수 색상 */
}

.high-score {
    color: black; /* 높은 점수 색상 */
}
