@charset "UTF-8";
/* 스피너 CSS */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* 스피너 애니메이션 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-title {
    width: 280px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.main-title-content {
    color: #000000;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameSchedule-list-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 800px; /* 원하는 고정 너비 */
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}

.date-header {
    border-bottom: 2px solid #000; /* 날짜 헤더에 밑줄 추가 */
    margin-bottom: 10px; /* 아래쪽 여백 추가 */
    padding-bottom: 5px; /* 패딩 추가 */
}

/* 경기 항목에 margin-bottom 추가 */
#gameSchedule-list li {
    margin-bottom: 20px; /* 원하는 아래쪽 여백 */
    display: inline-block; /* 가로로 배치 */
    width: calc(50% - 10px); /* 두 개의 경기를 가로로 배치하기 위한 너비 */
    vertical-align: top; /* 상단 정렬 */
}

/* 경기 목록에 대한 스타일 */
.match-container {
    display: flex; /* flexbox로 경기 리스트 배치 */
    flex-wrap: wrap; /* 줄 바꿈 */
    justify-content: space-between; /* 간격을 균등하게 */
}
/* 리그 헤더 */
.league-header {
    border-bottom: 1px solid #666; /* 리그 헤더에 밑줄 추가 */
    margin-bottom: 8px; /* 아래쪽 여백 추가 */
    padding-bottom: 4px; /* 패딩 추가 */
}
/* 경기시간 스타일 */
.matchTime {
    font-weight: bold;
}
/* 홈팀 명시 스타일 */
.home-label {
    display: inline-block;
    background-color: #007BFF; /* 원하는 배경색 */
    color: #FFFFFF; /* 텍스트 색상 */
    padding: 2px 2px; /* 상하 여백, 좌우 여백 */
    border-radius: 2px;
    font-weight: bold;
    margin: 0 5px; /* '홈'과 팀 이름 사이의 간격 : 좌우 5px */
    font-size: 0.8rem;
}
/* 스코어 스타일 */
.score {
    font-weight: bold; /* 스코어 굵게 */
}

.low-score {
    color: gray; /* 낮은 점수 색상 */
}

.high-score {
    color: black; /* 높은 점수 색상 */
}