@charset "UTF-8";
/* 스피너 CSS */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
/* 스피너 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main-title {
    width: 280px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.main-title-content {
    color: #000000;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-news {
    position:absolute;
    top:360px;
    left:calc(50% + 500px);
}
.total-news-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid gray;
    transition: transform 0.3s ease; /* 크기 변화에 애니메이션 추가 */
}
.total-news-btn:hover {
    transform: scale(1.1); /* 마우스를 올렸을 때 10% 확대 */
}
.news-list-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1000px; /* 원하는 고정 너비 */
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}