<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageTitle}">최근 해외축구 기사</title>
  <link rel="stylesheet" href="/resource/common.css"/>
  <link rel="stylesheet" href="/resource/news.css"/>
  <script src="/resource/common.js" defer="defer"></script>
  <!-- 제이쿼리, UI 추가 -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- 폰트어썸 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<div class="main-content">
  <div class="main-title">
    <h1 class="main-title-content">최근 해외축구 기사</h1>
  </div>

  <!-- 네이버 야구 뉴스 링크 -->
  <div class="total-news">
    <a class="total-news-btn" target="_blank" href="https://sports.news.naver.com/wfootball/news/index?isphoto=N">전체 뉴스 보기</a>
  </div>

  <!-- 뉴스 리스트를 표시할 요소 -->
  <div class="news-list-container">
    <ul id="news-list"></ul>
  </div>

  <div class="loading-spinner" id="loadingSpinner" style="display: none;">
    <div class="spinner"></div>
  </div>
</div>

<!-- 네이버 뉴스 Ajax 요청 -->
<script th:inline="javascript">
  $(document).ready(function () {
    $("#loadingSpinner").show();

    function fetchNews() {
      $('#news-list').empty();

      $.ajax({
        url: "/getNews",
        method: "GET",
        success: function (data) {
          let newsHtml = '';
          $.each(data, function (index, news) {
            newsHtml += '<li style="display: flex; align-items: flex-start; margin-bottom: 10px;">';
            if (news.imgUrl) {
              newsHtml += '<img src="' + news.imgUrl + '" alt="' + news.title + '" style="width: 140px; height: auto; margin-right: 10px; object-fit: cover; object-position: center;" />';
            }
            newsHtml += '<div style="flex-grow: 1;">';
            newsHtml += '<h2 style="margin: 0; font-size: 1.2em;"><a href="' + news.link + '" target="_blank">' + news.title + '</a></h2>';
            newsHtml += '<p style="margin: 5px 0;">' + news.desc + '</p>';
            newsHtml += '<span style="font-size: 0.9em; color: #578CE1;">' + news.press + '</span> <span style="color: #E3E3E3;"> | </span> <span style="font-size: 0.9em; color: gray;">' + news.time + '</span>';
            newsHtml += '</div>';
            newsHtml += '</li>';
            newsHtml += '<hr style="color:gray; margin-bottom:10px;">';
          });
          $('#news-list').html(newsHtml);
        },
        error: function () {
          $('#news-list').html('<li>Failed to load news.</li>');
        },
        complete: function () {
          $("#loadingSpinner").hide();
        }
      });
    }
    fetchNews();
  });
</script>
</body>
</html>