<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/head :: head}">
  <title>MEMBER MODIFY</title>
</head>
<body>

<script th:inline="javascript">
  function MemberModify__submit(form) {
    form.loginPw.value = form.loginPw.value.trim();
    if (form.loginPw.value.length > 0) {
      form.loginPwConfirm.value = form.loginPwConfirm.value.trim();
      if (form.loginPwConfirm.value == 0) {
        alert('비번 확인 써');
        return;
      }
      if (form.loginPwConfirm.value != form.loginPw.value) {
        alert('비번 불일치');
        return;
      }
    }
    form.submit();
  }
</script>
<header th:replace="~{common/header-2 :: header-2}"></header>
<div class="make-header-margin"></div>
<section class="mt-24 text-xl px-4">
  <div class="mx-auto">
    <form onsubmit="MemberModify__submit(this); return false;" th:action="@{/usr/member/doModify}" method="POST">
      <table class="table" border="1" cellspacing="0" cellpadding="5" style="width: 100%; border-collapse: collapse;">
        <tbody>
        <tr>
          <th>가입일</th>
          <td style="text-align: center;" th:text="${rq.loginedMember.regDate}"></td>
        </tr>
        <tr>
          <th>아이디</th>
          <td style="text-align: center;" th:text="${rq.loginedMember.loginId}"></td>
        </tr>
        <tr>
          <th>새 비밀번호</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="loginPw" autocomplete="off"
                   type="password" placeholder="새 비밀번호를 입력해" />
          </td>
        </tr>
        <tr>
          <th>새 비밀번호 확인</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="loginPwConfirm"
                   autocomplete="off" type="password" placeholder="새 비밀번호확인을 입력해" />
          </td>
        </tr>
        <tr>
          <th>이름</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="name" autocomplete="off"
                   type="text" placeholder="이름 입력해" th:value="${rq.loginedMember.name}" />
          </td>
        </tr>
        <tr>
          <th>닉네임</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="nickname" autocomplete="off"
                   type="text" placeholder="닉네임 입력해" th:value="${rq.loginedMember.nickname}" />
          </td>
        </tr>
        <tr>
          <th>이메일</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="email" autocomplete="off"
                   type="email" placeholder="이메일을 입력해" th:value="${rq.loginedMember.email}" />
          </td>
        </tr>
        <tr>
          <th>전화번호</th>
          <td style="text-align: center;">
            <input class="input input-bordered input-primary input-sm w-full max-w-xs" name="cellphoneNum" autocomplete="off"
                   type="tel" placeholder="전화번호를 입력해" th:value="${rq.loginedMember.cellphoneNum}" />
          </td>
        </tr>
        <tr>
          <th></th>
          <td style="text-align: center;">
            <button class="btn btn-primary">수정</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
    <div class="btns">
      <button class="btn" type="button" onclick="history.back()">뒤로가기</button>
    </div>
  </div>
</section>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
